.aboutArea{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/white\ infinity.png');
  background-position: right;
  background-color: #1D1D1D;
  background-size: cover;
  background-position-x: 400px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  font-size: 30px;
  color: whitesmoke;
}

.aboutDiv{
  font-size: 30px;
  width: 60%;
  color: whitesmoke;
  margin-right: 10%;
  text-align: left;
}

.skillsDiv{
  font-size: 35px;
  width: 60%;
  color: whitesmoke;
  margin-right: 10%;
  text-align: left;

}

.skillsBox{
display: flex;
flex-direction: row;
width: auto;
}



.skillLogo{
  height: 80px;
  transition-duration: 1s;
}

.skillLogo:hover{
  transform: scale(1.4);
}

@media only screen and (max-width: 650px) {
  .aboutArea{
    background-size: cover;
    background-position-x: 50px;
    background-position-y: 350px;
    }
  .aboutDiv{
    font-size: 17px;
    width: 70%;
  }
  .skillsDiv{
    font-size: 17px;
    width: 70%;
  }
  .skillLogo{
    height: 50px;
  }

  .skillsBox{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 450px) {
  .aboutArea{
    background-size: cover;
    background-position-x: -75px;
    background-position-y: 250px;
    }
}