.contactArea{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('../images/white\ infinity.png'); */
  background-position: right;
  background-size: cover;
  background-position-x: 400px;
  background-position-y: 20px;
  background-repeat: no-repeat;
}

.contactDiv{
  width: 50%;
  color: #1D1D1D;
  text-align: left;
}

a{
  text-decoration: none;
  color: #1D1D1D;
}

a:hover {
  text-decoration: underline;
}

#contactTitle{
  font-size: 40px;
}

#backhome:hover{
  color: whitesmoke;
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .contactArea{
    background-size: cover;
    background-position-x: 50px;
    background-position-y: 350px;
    font-size: 10px;
  }

}

@media only screen and (max-width: 450px) {
  .contactArea{
    background-size: cover;
    background-position-x: -75px;
    background-position-y: 250px;
    }
}