.homeArea{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: right;
  background-size: cover;
  background-position-x: 400px;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-color: rgb(244 191 28 / 90%);
}

.homeText{
  display: flex;
  align-items: center;
}

.imgDiv{
  height: 10%;
  width: auto;
}

.programmerVector{
  height: 700px;
  width: auto;
}

#welcomemsg{
  font-size: 25px;
}

.homeDiv{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: whitesmoke;
  text-align: left;
}



@media only screen and (max-width: 650px) {

  .homeArea{
  background-size: cover;
  }

  .homeText{
    display: flex;
    justify-content: center;
  }

  #welcomemsg{
    font-size: 15px;
  }
  
  .homeDiv{
    font-size: 20px;
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  .programmerVector{
    height: 300px;
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .homeArea{
    background-size: cover;
    }

}