.skillsArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: brown;
  background-color: rgba(244,191,28,255);
}


.skillsTitle{
  font-size: 40px;
  color: whitesmoke;
}

.monitorAndSkills{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


.skillsMonitor{
height: 70vh;
width: auto;
z-index: 97;
}


.skillsDiv{
  display: flex;
  width: 40%;
  z-index: 98;
  position: absolute;
  padding-bottom: 5%;
}
  
  .skillLogo{
    height: 80px;
    transition-duration: 1s;
    padding: 17px;
  }
  
  .skillLogo:hover{
    transform: scale(1.4);
  }

  @media only screen and (max-width: 650px) {

    .skillsTitle{
      font-size: 22px;
      color: whitesmoke;
    }

    .skillsDiv{
      width: 80%;
      padding-bottom: 35px;
    }
    
    .skillLogo{
      height: 30px;
    }
  
    .skillsBox{
      flex-wrap: wrap;
    }


    .skillsMonitor{
      height: 35vh;
    }

  }

  @media only screen and (max-width: 450px) {


    .skillLogo{
      height: 23px;
    }

    .skillLogo:hover{
      transform: scale(2);
    }

  }